body[data-theme='dark'] {
    --theme-color: white;
    --theme-bg: black;
}

body[data-theme='light'] {
    --theme-color: black;
    --theme-bg: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
